html {
  font-size: 100%;
}

body {
  background-color: #f4f9ff;
  color: #333;
  font-size: 0.85rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 600px;
  margin: 0 auto;
}

.section-title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
}

#header {
  margin-top: 60px;
}

#header .site-title {
  width: 160px;
  line-height: 1px;
  margin-bottom: 15px;
}

#header .site-title a {
  display: block;
}